body{
        font:14px Times New Roman,Arial,Verdana,Sans-serif;
	
}
#daohang{
	font:16px ╨злЕ ;
}	

#daohang1{
	font-size:24px;
}
.biaoti1,.biaoti2,.biaoti3,.biaoti4,.biaoti5{
	color:#32a2f9; 
	font:16px свт╡;
	
}
.lanmu, .biaoti{
	color:#32a2f9;
	font:16px свт╡;
	
}
