@charset "utf-8";
/* 
 * CSS Document for appstore
 * http://ccb.com/
 *
 * Copyright 2012, wen CCB GEONG
 * http://www.geong.com/
 *
 * Date: 2012-10-15
 */

.white{
	color:#fff;
}
.gray{
	color:#989898;
}
.hide{
	display:none;
}
.page{
	width:100%;
	margin:0px auto;
}
.app_body{
	padding:10px 0;
}
.bg1{
	background-color:#008bd6;
}
.bg2{
	background-color:#4dda3d;
}
.bg3{
	background-color:#ec642a;
}
.bg4{
	background-color:#7fcbff;
}
.bg5{
	background-color:#8dc3f1;
}
.bg6{
	background-color:#179a4e;
}
.bg7{
	background-color:#383d53;
}
.bg8{
	background-color:#e16734;
}
.ccb_version_but a{
	display:block;
	margin:20px 10px 0 0;
}
.ccb_version_but img{
	width:60px;
}
.app_title{
	height:60px;
	color:#fff;
	background-color:#0A78C9;
	position:relative;
}
.app_down_btn{
	width:20px;
	position:absolute;
	right:70px;
	top:12px;
}
.app_down_btn a{
	color:#fff; 
	display:block;
}
.app_down_btn img{
	width:30px;
}
.app_down_btn a:hover{
	text-decoration:none;
}
.app_login,.app_title_m,.app_title_m1{
	height:60px;
	line-height:60px;
	position:absolute;
}
.app_login{
	font-size:1em;
}
.app_login_y{
	color:#98ac3b;
}
.app_login_n{
	color:#b62e32;
}
.app_login img{
	vertical-align:middle;
}
.login_info_box{
	position:absolute;
	z-index:100;
	top:60px;
	border-radius:6px;
	background-color:#98ac3b;
	min-width:100px;
	box-shadow:2px 2px 2px #000;
}
.login_info_box li{
	background-color:#fff;
	padding:5px;
	margin:10px;
	text-align:center;
	line-height:30px;
}
.login_info_box a{
	color:#333;
	display:block;
	text-decoration:none;
}
.app_arrow{
	position:absolute;
	top:-8px;
	left:15px;
	font-size:0;
	height:0;
	width:0;
	_line-height:0;      
	border-style:solid;
	_border-style:dashed dashed solid;
	border-width:0 8px 8px;
	border-color:transparent transparent #98ac3b;
}
.app_login_n .login_info_box{
	width:315px;
	left:-10px;
	border-radius:0 0 6px 6px;
	box-shadow:0 2px 2px #000;
}
.app_login_n .app_login_data,.app_login_n .app_login_btn{
	background-color: #FEFEFE;
    border-radius: 4px;
	border:0;
    margin: 10px;
    padding: 10px 15px;
}
.app_login_n .app_login_data input{
	padding:5px 3px;
	margin-bottom:10px;
	width:260px;
	border-radius:4px;
	border:solid 1px #e9e9e9;
	box-shadow:inset 1px 1px 3px #000;
}
.app_login_n .remember{
	line-height:40px;
	text-align:right;
	font-size:1.4em;
}
.app_login_n .remember .remember_checked{
	width:40px;
	height:40px;
	display:inline-block;
	vertical-align: middle;
	background:url(../images/login_checked.png) no-repeat;
}
.app_login_n .remember .remember_on{
	vertical-align: middle;
	background:url(../images/login_checked1.png) no-repeat;
}
.app_login_n .app_login_btn a{
	font-size:1.4em;
	display:block;
	text-align:center;
	line-height:normal;
}
#app_login_img{
	cursor:pointer;
}
.app_title_m,.app_title_m1{
	width:195px;
	left:50%;
	font-size:1.5em;
	margin-left:-95px;
	text-align:center;
	overflow:hidden;
}
.app_title_m ul{
	width:240px;
	position:absolute;
}
.app_title_m li{
	float:left;
	width:65px;
	text-align:center;
}
.app_title_m1{
	background:url(../images/app_titile_m1.png) no-repeat;
}
.app_title_pre,.app_title_next{
	position:absolute;
	height:60px;
	width:65px;
	cursor:default;
	cursor:pointer;
}
.app_title_pre{
	left:0;
}
.app_title_next{
	right:0;
}
.app_login{
	left:10px;
	top:0;
}
.app_search{
	position:absolute;
	right:10px;
	top:0;
}
.app_search_box{
	position:absolute;
	z-index:100;
	top:52px;
	right:-5px;
	height:62px;
	width:280px;
	background:url(../images/app_search_input.png) no-repeat;
}
.app_search img{
	margin:15px 10px 0 0;
}
.app_search_box input{
	background-color: transparent;
    border: medium none;
    font-size: 1em;
    margin: 19px 0 0 12px;
    padding: 4px 0;
    width: 210px;
}
.app_search_box button{
	background: none;
    border: medium none;
    cursor: pointer;
    height: 40px;
    vertical-align: middle;
    width: 45px;
}
.app_footer{
	height:60px;
	line-height:50px;
	background-color:#0066b3;
}
.app_footer li{
	width:25%;
	text-align:center;
	color:#fff;
	float:left;
	font-size:1.5em;
}
.app_footer li a{
	color:#fff;
	display:block;
	text-decoration:none;
	margin-top:4px;
	border-top:4px solid rgba(255,255,255,0.5);
}
.app_footer .this_app_footer a{
	border-top:12px solid rgba(255,255,255,0.5);
	margin-top:0;
}
.page1{
	overflow:hidden;
	width:95%;
}
.page1 a{
	display:inline-block;
	margin:0 3px 3px 0;
}
.ico_1,.ico_2{
	width:102%;
}
.ico_2 a{
	width:49%;
}
.ico_2 img{
	width:100%;
}
.ico_1 a{
	width:100%;
	display:block;
	overflow:hidden;
}
.ico_1 img{
	width:100%
}
.ad2,.ad2 img{
	width:100%;
	text-align:center; 
}
.app_box{
	padding-top:10px;
}
.app_box li{
	margin-bottom:3px;
	background-color:#fefefe;
	padding:10px;	
	position:relative;
}
.app_pt{
	width:45%;
}
.app_info{
	width:55%;
}
.app_pic img{
	width:54px;
}
.app_txt{
	padding-left:60px;
}
h2{
	font-size:1.2em;
	padding:5px 0;
}
.app_txt h2 a{
	color:#989898;
}
.app_star{
	display:block;
	width:100px;
	height:19px;
	background:url(../images/star.png) no-repeat;
}
.starlight{
	width:80%;
	background:url(../images/star1.png) no-repeat;
}
.app_info_txt,.app_down a{
	color:#989898;
	text-align:center;
	display:block;
}
.app_info_txt{
	width:60%;
}
.txt1{
	font-weight:bold;
}
.app_down{
	border-left:solid 1px #989898;
	padding-left:15px;
	margin-left:15px;
	font-weight:bold;
	width:20%;
	text-align:center;
	height:54px;
}
.app_down a img{
}
/*详细页*/
.details_head{
	padding:10px 20px;
	background-color:#fefefe;
}
.details_pt{
	width:55%;
}
.app_details_txt{
	padding-left:120px;
}
.app_details_txt h2{
	font-size:2em;
	color:#989898;
}
.app_details_txt .app_info_txt {
	width: auto;
	text-align:left;
}
.down_btn a{
	display:block;
	font-size:2em;
	font-weight:bold;
	color:#434343;
	padding:20px 50px;
	margin:20px;
	background-color:#96aa39;
}
.show_box{
	position:relative;
    border-top:solid 5px #E8E8E8;
	border-bottom:solid 5px #E8E8E8;
	background-color:#fefefe;
}
.play,play1{
	width:640px;
	height:465px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.show_box ul{
	position:absolute;
	width:640px;
}
.show_box li{
	float:left;
	width:310px;
	height:465px;
	padding:0 5px;
	
}
.pre_page,.next_page{
	display:block;
	height:58px;
	width:58px;
	position:absolute;
	top:50%;
	margin-top:-30px;
	cursor:pointer;
	z-index:100;
}
.pre_page{
	background:url(../images/pre.png) no-repeat;
	left:20px;
}
.next_page{
	background:url(../images/next.png) no-repeat;
	right:20px;
}
.txt_details_box{
	color:#989898;
	margin:0px 0 10px;
	padding:10px 20px;
	background-color:#fefefe;
}
/*--page4--*/
.head_msg{
	padding:5px 0;
	background-color:#282828;
	color:#fff;
	font-size:2em;
	padding-left:20px;
}
.head_msg .red{
	margin:0 3px;
}
.red{
	color:#c00;
}

/*--关于我们--*/
.ad_about,.txt_about{
	margin:0 10px 10px;
}
.ad_about img{
	width:100%;
}
.txt_about{
	color:#fff;
	padding:20px 20px 40px;
	line-height:3em;
	font-size:1.5em;
	background-color:#434343;
}
.copyright{
	color:#434343;
	font-size:1em;
	text-align:center;
}

/*--待升级应用--*/
.updata_wait{
	background-color:#e7ad23;
	position:relative;
	color:#fff;
	padding:20px 40px;
	font-size:1em;
	margin-bottom:10px;
}
.ico_3{
	position:absolute;
	top:0;
	left:10px;
	width:20px;
	height:50px;
	background-color:#2d2d2d;
}
.ico_3 span{
	position:absolute;
	bottom:0;
	font-size:0;
	height:0;
	width:0;
	_line-height:0;   
	border-style:solid;
	_border-style:dashed dashed solid dashed; 
	border-width:0 10px 10px 10px;
	border-color:transparent transparent #e7ad23 transparent;
}
a.updata_go{
	position:absolute;
	padding:5px 10px;
	right:5px;
	top:15px;
	color:#fff;
	background-color:#2d2d2d;
}
.page6 .head_msg{
	margin-bottom:10px;
}
.app_box1{
	width:100%;
	overflow:hidden;
}
.app_box1 ul{
	width:110%;
}
.app_box1 li{
	float:left;
	width:29%;
	text-align:center;
	height:150px;
	overflow:hidden;
	background-color:#fefefe;
	margin:0 0 3px 3px;
}
.app_box1 .app_pic img{
	width:44px;
	padding-top:10px;
}
.app_box1 h2{
	padding:0;
}
.app_box1 h2 a{
	font-size:0.8em;
	color:#989898;
}
.app_box1 .app_star{
	margin:0 auto;
}
.app_box1 .starlight{
	margin:0;
}
.app_box1 .app_info_txt{
	width:auto;
	padding-top:0;
}

/*--列表链接--*/
.app_details_link,.app_down_link{
	display:block;
	height:100%;
	position:absolute;
	top:0;
	z-index:1000;
}
.app_details_link{
	width:80%;
	left:0;
	background-color:#ccc;
}
.app_down_link{
	width:19%;
	right:0;
}
@media only screen and (max-device-width:240px){
	.ico_1 a,.ico_1 img{
		height:55px;
	}
	.app_pic img{
		width:36px;
	}
	.app_info_txt{
		width:70%;
	}
	.app_txt{
		padding-left:38px;
	}
	.txt1{
		font-size:0.8em;
	}
	.txt2,.txt3{
		font-size:0.6em;
	}
	.app_star{
		width:60px;
		height:10px;
		background-size:60px 10px;
	}
	.starlight{
		width:80%;
	}
	.txt3{
		padding-left:5px;
	}
	.app_down{
		height:36px;
		width:auto;
		padding-left:2px;
		margin-left:2px;
	}
	.app_down a img{
		width:15px;
		padding-left:7px;
	}
	.app_txt h2{
		font-size:1em;
		padding:0;
	}
	
	.details_head{
		padding:10px 5px
	}
	.details_pt{
		width:65%;
	}
	.app_details_txt h2{
		font-size:1em;
		padding:0;
	}
	.details_pic img{
		width:50px;
	}
	.app_details_txt{
		padding-left:55px;
	}
	.details_head .app_info_txt{
		width:auto;
	}
	.down_btn a{
		font-size:1em;
		padding:5px 15px;
		margin:20px 0 0 0;
	}
	.play{
		width:100%;
		height:165px;
	}
	.play img{
		width:110px;
		height:auto;	
	}
	.show_box li{
		width:110px;
		height:auto;
	}
	.pre_page,.next_page{
		background-size:30px;
		background-position:center center;
	}
	.pre_page{
		left:0;
	}
	.next_page{
		right:0;
	}
	.txt_details_box{
		padding:10px;
	}
	.head_msg{
		font-size:1em;
		padding-left:10px;
	}
	.txt_about{
		padding:20px 0px 30px 10px;
		line-height:2em;
		font-size:0.8em;
	}
	.copyright{
		font-size:0.9em;
	}
}
@media only screen and (min-device-width:241px) and (max-device-width:320px){
	
	.txt1{
		font-size:0.9em;
	}
	.txt2,.txt3{
		font-size:0.7em;
	}
	.txt3{
		padding-left:5px;
	}
	.app_txt h2{
		padding:3px 0;
		font-size:1em;
	}
	.app_down{
		height:44px;
		width:auto;
		padding-left:4px;
		margin-left:4px;
	}
	.app_info_txt,.app_down{
		padding-top:10px;	
	}
	.app_down a img{
		width:20px;
		padding-left:4px;
	}
	
	.details_head{
		padding:10px 5px
	}
	.details_pt{
		width:65%;
	}
	.app_details_txt h2{
		font-size:1.5em;
		padding:0;
	}
	.details_pic img{
		width:80px;
	}
	.app_details_txt{
		padding-left:85px;
	}
	.details_head .app_info_txt{
		width:auto;
	}
	.down_btn a{
		padding:10px 20px;
		margin:20px 0 0 0;
		font-size:1.5em;
	}
	.play{
		width:100%;
		height:225px;
	}
	.play img,.show_box li{
		width:150px;
		height:auto;	
	}
	.txt_details_box{
		padding:10px;
	}
	.txt_about{
		padding:20px 0px 30px 10px;
		line-height:2em;
		font-size:1em;
	}
	.copyright{
		font-size:1em;
	}
	.app_box1 .app_star{
		width:60px;
		height:10px;
		background-size:60px 10px;
	}
	.app_box1 .starlight{
		width:80%;
	}
	.app_box1 .app_pic img{
		padding-top:15px;
		width:60px;
	}
	.updata_wait{
		padding:20px 40px;
		font-size:1em;
	}
	.ico_3{
		left:15px;
		width:20px;
		height:50px;
	}
	.ico_3 span{  
		border-width:0 10px 10px 10px;
	}
	a.updata_go{
		top:15px;
	}
	.head_msg{
		font-size:1em;
	}
	.app_title{
		height:40px;
	}
	.app_login,.app_title_m,.app_title_m1{
		height:40px;
		line-height:40px;
	}
	.app_down_btn{
		width:20px;
		position:absolute;
		right:50px;
		top:4px;
	}
	.app_down_btn img{
		width:25px;
	}
	#app_login_img img{
		height:25px;
	}
	.login_info_box {
		top:40px;
	}
	.app_search_box{
		right:-10px;
		top:32px;
	}
	.app_search img{
		margin:8px 0px 0 0;
		width:25px;
		height:auto;
	}
	.app_title_m{
		font-size:1.4em;
	}
	.app_footer{
		height:40px;
		line-height:35px;
	}
	.app_footer li{
		font-size:1.2em;
	}
	.app_footer li a{
		margin-top:2px;
		border-top:2px solid rgba(255,255,255,0.5);
	}
	.app_footer .this_app_footer a{
		border-top:6px solid rgba(255,255,255,0.5);
		margin-top:0;
	}
}
@media only screen and (min-device-width:241px) and (max-device-width:479px){
	.ico_1 a,.ico_1 img{
		height:75px;
	}
	.pre_page,.next_page{
		background-size:40px;
		background-position:center center;
	}
	.pre_page{
		left:0;
	}
	.next_page{
		right:0;
	}
	.txt_details_box{
		padding:10px;
		font-size:1em;
	}
	
}
@media only screen and (min-device-width:321px) and (max-device-width:479px){
	
	.txt1{
		font-size:0.9em;
	}
	.txt2,.txt3{
		font-size:0.7em;
	}
	.txt3{
		padding-left:5px;
	}
	.app_txt h2{
		padding:3px 0;
		font-size:1em;
	}
	.app_down{
		height:44px;
		width:auto;
		padding-left:4px;
		margin-left:4px;
	}
	.app_info_txt,.app_down{
		padding-top:10px;	
	}
	.app_down a img{
		width:20px;
		padding-left:4px;
	}
	
	.details_head{
		padding:10px 5px
	}
	.details_pt{
		width:65%;
	}
	.app_details_txt h2{
		font-size:1.5em;
		padding:0;
	}
	.details_pic img{
		width:80px;
	}
	.app_details_txt{
		padding-left:85px;
	}
	.details_head .app_info_txt{
		width:auto;
	}
	.down_btn a{
		padding:10px 20px;
		margin:20px 0 0 0;
		font-size:1.5em;
	}
	.play{
		width:100%;
		height:225px;
	}
	.play img,.show_box li{
		width:150px;
		height:auto;	
	}
	.txt_details_box{
		padding:10px;
	}
	.txt_about{
		padding:20px 0px 30px 10px;
		line-height:2em;
		font-size:1em;
	}
	.copyright{
		font-size:1em;
	}
	.app_box1 .app_star{
		width:60px;
		height:10px;
		background-size:60px 10px;
	}
	.app_box1 .starlight{
		width:80%;
	}
	.app_box1 .app_pic img{
		padding-top:15px;
		width:60px;
	}
	.updata_wait{
		padding:20px 40px;
		font-size:1em;
	}
	.ico_3{
		left:15px;
		width:20px;
		height:50px;
	}
	.ico_3 span{  
		border-width:0 10px 10px 10px;
	}
	a.updata_go{
		top:15px;
	}
	.head_msg{
		font-size:1em;
	}
	.app_title{
		height:40px;
	}
	.app_login,.app_title_m,.app_title_m1{
		height:40px;
		line-height:40px;
	}
	.app_down_btn{
		width:20px;
		position:absolute;
		right:50px;
		top:4px;
	}
	.app_down_btn img{
		width:25px;
	}
	#app_login_img img{
		height:25px;
	}
	.login_info_box {
		top:40px;
	}
	.app_search_box{
		right:-10px;
		top:32px;
	}
	.app_search img{
		margin:8px 0px 0 0;
		width:25px;
		height:auto;
	}
	.app_title_m{
		font-size:1.4em;
	}
	.app_footer{
		height:40px;
		line-height:35px;
	}
	.app_footer li{
		font-size:1.2em;
	}
	.app_footer li a{
		margin-top:2px;
		border-top:2px solid rgba(255,255,255,0.5);
	}
	.app_footer .this_app_footer a{
		border-top:6px solid rgba(255,255,255,0.5);
		margin-top:0;
	}
}
@media only screen and (min-device-width:480px) and (max-device-width:639px){
    .ico_1 a,.ico_1 img{
		height:115px;
	}
	.app_down{
		height:54px;
		width:auto;
		padding:0 20px;
		margin-left:20px;
		font-size:1.2em;
	}
	.app_txt h2{
		font-size:1.5em;
		padding:0;
	}
	.txt1{
		font-size:1.4em;
	}
	.txt2,.txt3{
		font-size:1.2em;
	}
	
	.details_head{
		padding:15px 20px
	}
	.details_pt{
		width:65%;
	}
	.app_details_txt h2{
		font-size:2em;
		padding:0;
	}
	.details_pic img{
		width:100px;
	}
	.app_details_txt{
		padding-left:115px;
	}
	.details_head .app_info_txt{
		width:auto;
	}
	.down_btn a{
		padding:10px 30px;
		margin:20px 20px 0 0;
		font-size:2em;
	}
	.play{
		width:100%;
		height:345px;
	}
	.play img,.show_box li{
		width:230px;
		height:auto;	
	}
	.copyright{
		font-size:1.5em;
	}
	.txt_details_box{
		padding:15px;
		font-size:1.5em;
	}
	.app_box1 li{
		height:230px;
		width:29%;
		margin:0 0 1% 1%;
	}
	.app_box1 .app_pic img{
		padding-top:20px;
		width:80px;
	}
	.app_box1 li h2{
		font-size:1.8em;	
	}
	.app_box1 .txt1{
		font-size:1.2em;
	}
	.app_box1 .txt2,.app_box1 .txt3{
		font-size:1em;
	}
	.updata_wait{
		padding:30px 60px;
		font-size:1.5em;
	}
	.ico_3{
		left:20px;
		width:30px;
		height:60px;
	}
	.ico_3 span{  
		border-width:0 15px 15px 15px;
	}
	a.updata_go{
		top:25px;
		right:20px;
		padding:10px 30px;
	}
	.head_msg{
		font-size:1.5em;
	}
}	
@media only screen and (device-width:540px){
	.play{
		width:100%;
		height:390px;
	}
	.play img,.show_box li{
		width:260px;
		height:auto;	
	}
}
@media only screen and (device-width:600px){
	.play{
		width:100%;
		height:435px;
	}
	.play img,.show_box li{
		width:290px;
		height:auto;	
	}
}
@media only screen and (min-device-width:640px){
	.ico_2 a{
		width:49%;
		height:142px;
		text-align:center;
	}
	.ico_2 img{
		height:142px;
	}
	.ico_1 a{
		width:100%;
		height:142px;
		text-align:center;
	}
	.ico_1 img{
		height:142px;
	} 
	.ico_1 .bg8 img{
		width:100%;
	}
	
	.ad2{
		width:100%;
		height:232px;
		text-align:center;
	}
	.ad2 img{
		height:232px;
		width:100%;
	}
	.app_pic img{
		width:80px;
	}
	.app_txt{
		padding-left:90px;
	}
	.app_down{
		height:70px;
		padding:0 20px;
		margin-left:20px;
		font-size:1.6em;
	}
	.app_info_txt,.app_down{
		padding-top:10px;	
	}
	.app_txt h2{
		font-size:2em;
		font-weight:normal;
		padding:5px 0;
	}
	.txt1{
		font-size:1.8em;
	}
	.txt2,.txt3{
		font-size:1.4em;
	}
	.app_down a img{
		 display: inline; 
	}
	.txt_about{
		padding:20px 0px 40px 10px;
		line-height:2em;
		font-size:2em;
	}
	.copyright{
		font-size:2em;
	}
	.txt_details_box{
		padding:20px;
		font-size:2em;
	}
	.app_box1 li{
		height:260px;
		width:29%;
		margin:0 0 5px 5px;
	}
	.app_box1 .app_pic img{
		padding-top:20px;
		width:80px;
	}
	.app_box1 li h2{
		font-size:2.5em;	
	}
	.updata_wait{
		padding:50px 100px;
		font-size:2.5em;
	}
	.ico_3{
		left:30px;
		width:54px;
		height:100px;
	}
	.ico_3 span{  
		border-width:0 27px 27px 27px;
	}
	a.updata_go{
		top:45px;
		right:20px;
		padding:10px 40px;
	}
	.app_box1 li{
		margin:0 0 1% 1%;
	}
	.pre_page{
		left:50%;
		margin-left:-300px;
	}
	.next_page{
		left:50%;
		margin-left:240px;
	}
}
@media only screen and (min-device-width:1024px){
	.max_width{
		width:960px;
		margin:0 auto;	
	}
    .play{
		width:960px;
		height:465px;
	}
	.show_box ul{
		width:960px;
	}
	.pre_page{
		left:50%;
		margin-left:-450px;
	}
	.next_page{
		left:50%;
		margin-left:390px;
	}
}