@charset "utf-8";
/* 
 * CSS Document for ccb mobile
 * http://ccb.com/
 * wen CCB GEONG
 * http://www.geong.com/
 * Date: 2013-04-23
 */
body{
	color:#2a2a2a;
	font-size:12px;
	font-family:\5b8b\4f53, tahoma,arial,sans-serif;
}
a{
	color:#333;	
}
/*--app顶部--*/
.site_nav,.head,.nav,.news_msg,.section_m,.footer{
	width:1210px;
	margin:0 auto;
}
.site_nav_bg,.input_t,.sort_l,.sort_l_on,.app_nav_m li.app_nav_on,.app_reward_m li,.app_help_box_m li{
	background-image:url(../images/ccb_mobile_list.png);
	background-repeat:no-repeat;
}
.pre_page,.next_page,.app_one_t,.star,.star1,.star_m,.star_m1,.popup_down a,.popup_app_n span,.popup_par,.popup_next,.checked_ico,.login_show,.reg_show,.step_next,.help_feedback a,.help_guide a{
	background-image:url(../images/ccb_mobile_ico.png);
	background-repeat:no-repeat;
}
.site_nav_bg{
	height:42px;
	line-height:42px;
	background-position:0 -110px;
	background-repeat:repeat-x;
}
.site_nav{
	font-size:14px;
	text-align:right;
}
.site_nav a{
	margin-left:5px;
}
/*--app头部--*/
.head{
	height:90px;
}
.app_logo{
	display:inline-block;
	margin:20px 0 0 12px;
}
.h_search{
	width:400px;
	margin-top:32px;
}
.input_t{
	height:33px;
	width:320px;
	float:left;
	border:solid 1px #bebebe;
	background-position:5px -63px;
}
.input_t input{
	width:290px;
	height:20px;
	margin:6px 0 0 30px;
	outline:none;
	border:0;
	font-size:14px;
}
.h_search button{
	height:35px;
	width:78px;
	line-height:35px;
	text-align:center;
	border:0;
	background-color:#4cbf1a;
	color:#fff;
	cursor: pointer;
	font-size:14px;
	font-weight:bold;
	_margin-left:-3px;
}
/*--app导航--*/
.nav{
	height:42px;
	line-height:42px;
	background-color:#606060;
}
.nav li{
	float:left;
	display:inline;
	width:160px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
.nav li a{
	color:#fff;	
	display:block;
}
.nav li a:hover{
	text-decoration:none;
}
.nav li.nav_on{
	background-color:#4cbf1a;
}
.news_msg{
	height:48px;
	line-height:48px;
}
.news_msg p{
	padding-left:10px;
	overflow:hidden;
	text-overflow: ellipsis;
	font-size:14px;
	white-space: nowrap;
	display:inline-block;
	*display:inline;
	zoom:1;
}
.news_msg span{
	margin-right:25px;
}
.marquee{
	display:inline-block;
	vertical-align:top;
	*display:inline;
	zoom:1;
	width:520px;
	height:24px;
	line-height:24px;
	margin-top:12px;
	overflow:hidden;
	position:relative;
}
.js_marquee_notice li{
	height:24px;
	line-height:24px;
}

/*--app-store.html------------------------------------------------------------------*/
/*--app中部--*/
.content_l{
	width:937px;
}
.content_r{
	width:250px;
}
.recomend,.recomend_box{
	height:399px;
	width:937px;
	overflow:hidden;	
}
.recomend_box ul{
	width:2820px;
}
.recomend_box li{
	float:left;	
	height:398px;
	width: 936px;
}
.recomend_box li,.app_box_m{
	border-top:solid 1px #eaeaea;
	border-left:solid 1px #eaeaea;
}
.app_l{
	display:inline;
	font-size:0;
	letter-spacing:-8px;
}
.app_l a:hover{
	text-decoration:none;	
}
.app_s{
	width:233px;
	height:198px;
	display: inline-block;
	*display:inline;
	zoom:1;
	overflow:hidden;
	vertical-align: top;
	position: relative;
	letter-spacing:normal;
	border-right:solid 1px #eaeaea;
	border-bottom:solid 1px #eaeaea;
}
.app_s_pt{
	height:198px;
	width:233px;
	background-color:#fff;
	/*background: url("../images/loading.gif") no-repeat center center #fff;*/
	background: url("../images/bg_logo.jpg") no-repeat center center #fff;
}
.recomend_s .app_s_pt{
	height:397px;
	width:467px;
}
.recomend_s{
	width:467px;
	height:397px;
	float:left;
	_margin-right:-3px;;
}
.recomend_s1{
	width:233px;
	height:198px;
}
.app_l .app_s_txt_t{
	font-size:14px;
}
.app_s_txt_n{
	font-size:12px;	
	color:#5c5c5c;
}
.recomend_s .recomend_s_pic{
	width:450px;
	height:334px;
	margin:0 0 0 9px;
}
.app_s_pic{
	height:136px;
	width:215px;
	display:block;
	margin: 0px 0 0 9px;
	padding-top:8px;
}
.app_s_txt{
	margin:8px;
	line-height:18px;
}
.app_s_txt p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.app_s_txt_t strong{
	font-weight:normal;	
}
.pre_page,.next_page{
	height:95px;
	width:50px;
	position:absolute;
	z-index:1000;
	top:50%;
	margin-top:-65px;
	cursor:pointer;
}
.pre_page{
	left:0;
	background-position:-51px -50px;
}
.next_page{
	right:0;	
	background-position:1px -50px;
}
.recomend .pre_page.n_this{
	background-position:-287px -50px;
}
.recomend .next_page.n_this{
	background-position:-235px -50px;
}
.app_box_t{
	margin:10px 0;
	height:42px;
	line-height:42px;
	background-color:#eaeaea;
	overflow:hidden;
}
.app_box_t h1{
	color:#000;
	margin-left:15px;
	font-size:14px;
	display:inline;
	float:left;
}
.sort_l{
	float:left;
	padding: 0 10px 0 30px;
	margin:6px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	background-position: 8px 8px;
}
.sort_l_on{
	background-color:#4CBF1A;
	background-position: 8px -23px;
	color:#fff;
}
.sort_list{
	margin-left:100px;
}
.app_pages{
	margin-right:20px;
	font-size:14px;
}
.app_pages a,.app_pages .ellipsis{
	background-color:#fff;
	padding: 3px 7px;
}
.page_num a,.page_num span{
	margin:0 4px;
}
.app_pages .this_p{
	padding: 3px 7px;
	color:#fff;
	font-weight:bold;
	background-color:#4CBF1A;
}
/*--app中部右--*/
.app_one{
	background-color:#eaeaea;
	font-size:14px;
}
.recomend_one{
	height:398px;
}
.app_one_t{
	height:45px;
}
.app_one_t h1{
	color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 15px;
}
.recomend_one_m .app_s_pic{
	margin:15px 0 0 15px;
	display:block;
}
.recomend_one_m .app_s_txt{
	margin:15px 20px 10px;
}
.recomend_one_m h2{
	margin-bottom:5px;
}
.recomend_one_m p{
	white-space:normal;
	height: 100px;
    line-height: 25px;
	overflow:hidden;
	text-align: justify;
}
.recomend_down{
	margin:0 20px;
}
.recomend_down a{
	display:inline-block;
	width:70px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#fff;
	background-color:#4CBF1A;
	font-weight:bold;
	margin-right:20px;
}
.recomend_down a:hover{
	text-decoration:none;
}
.recomend_down .red{
	font-size:22px;
	font-family:arial;
	
}
.aside_box{
	margin-top:10px;
	font-size:14px;
}
.aside_t{
	height:42px;
	line-height:42px;
	background-color:#eaeaea;
}
.aside_t h1{
	margin-left:10px;
}
.aside_m li{
	height:42px;
	line-height:42px;
	padding-left:55px;
	cursor:pointer;
	border-bottom:1px solid #EAEAEA;
	border-left:1px solid #EAEAEA;
	border-right:1px solid #EAEAEA;
	*margin-bottom:-2px;
	_margin-bottom:0px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.aside_m li a{
	display:block;
}
.app_nav_m li a:hover{
	text-decoration:none;
}
.aside_m li.app_nav_on{
	border:0;
	background-color:#4CBF1A;
	background-position:10px -165px;
}
.aside_m li.app_nav_on a{
	color:#fff;
}
/*--app底部--*/
.footer {
	margin: 17px auto 0px; 
	overflow: hidden; 
	height: 53px; 
	border-top:solid 3px #0066b3;
}
.footer_left { 
	float: left; 
	display: inline; 
	color: rgb(145, 145, 145); 
	line-height: 16px; 
	padding: 10px 0px 13px; 
	width: 600px; 
}
.footer_left img { 
	float: left; 
	margin-right: 10px; 
	margin-top: 3px; 
}
.footer_left span { 
	margin-left: 26px;
	 margin-right: 23px; 
}
.footer_right { 
	float: right;
	display: inline; 
	padding-top: 17px; 
	text-align: right; 
	color: rgb(145, 145, 145); 
}
.footer_right a { 
	margin-left: 13px; 
}
.footer_left .gov { 
	float: left; 
	padding: 3px 6px 0px 0px; 
}
.credible{
	position: absolute;
	margin-top: -7px; 
	margin-left: -102px;
}

/*--app信息1--*/
.app_s1{
	display:none;
	background-color: #F2F2F2;
    bottom: 0px;
    height: 115px;
    width: 467px;
	z-index:100;
}
.app_s1 .app_s_txt_t strong {
    font-weight: bold;
}
.app_s1 .app_s_txt_t{
	padding-top:10px;
}
.app_s1 .app_s_txt_n{
	padding:5px 10px;
}
.app_s1 .app_s_txt_d{
	padding:6px 10px 0;
	height:40px;
	line-height:20px;
	overflow:hidden;
}
.app_s1 p{
	padding:0 10px;
}
.app_s_txt_d{
	font-size:12px;
	color:#333;
}
/*--小星星--*/
.star{
	/*position:relative;*/
	display:inline-block;
	z-index:101;
	height:11px;
	width:58px;
	overflow:hidden;
	background-position:-260px -17px;
}
.star1{
	z-index:102;
	width:80%;
	/*position:absolute;*/
	background-position:-261px -1px;
	
}
.app_s1 .star{
	position:absolute;
	right: 30px;
    top: 15px;	
}
.app_s1 .star1{
	right: auto;
    top: 0;
}
/*--app信息2--*/
.app_s2{
	height: 198px;
    width: 233px;
}
.app_s2 .star{
	top:auto;
	bottom:15px;
}
.app_s2 .star1{
	bottom:auto;
}
.app_s2 .app_s_txt_t,.app_s2 .app_s_txt_n{
	padding-left:110px;
}
.app_s2 .app_s_txt_t{
	padding-top:30px;
	max-height:35px;
	overflow:hidden;
	_height:35px;
}
.app_s2 .app_s_txt_d{
	padding-top:16px;
	height:60px;
}
.app_s_ico{
	position:absolute;
	height:58px;
	width:58px;
	top:20px;
	left:30px;
	z-index:101;
}

/*--app弹出层--*/
.popup{
	display:none;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-413px;
	z-index:1001;
	width:826px;
	height:546px;
	background-color:#f7f7f7;
}
.app_popup{
	width:826px;
	height:546px;
	overflow:hidden;
}
.app_popup_box{
	width:826px;
	height:546px;
	overflow:hidden;
	position:absolute;
}
.popup_box{
	width:750px;
	height:470px;
	overflow:hidden;
	margin:30px auto 0;
}
.details_ico{
	float:left;
	height:93px;
	width:93px;
}
.popup_app_dt{
	margin-left:120px;
}
.popup_app_dt h3{
	font-size:14px;
	margin: 5px 0 10px;
}
.popup_app_dt li{
	display:inline-block;
	*display:inline;
	zoom:1;
	width:180px;
	overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom:5px;
	*margin-bottom:10px;
}
/*--m星星--*/
.star_m{
	display:inline-block;
	height:13px;
	width:74px;
	/*position:relative;*/
	overflow:hidden;
	vertical-align: top;
	background-position:-329px -18px;	
}
.star_m1{
	width:80%;
	background-position:-330px 0;
}
.popup_app_tab{
	height:42px;
	margin-top:10px;
	border-top:solid 1px #898989;
	background-color:#f1f1f1;
}
.popup_app_tab h3{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:42px;
	line-height:42px;
	width:124px;
	font-size:14px;
	text-align:center;
	color:#4dbf1a;	
	cursor:pointer;
}
.popup_app_tab h3.popup_tab_on{
	background-color:#898989;
	color:#fff;
}
.popup_app_data{
	padding-top:38px;
	height:280px;
	display:none;
}
.popup_app_pic{
	width:456px;
	height:276px;
	position:relative;
}
.popup_app_show{
	height:276px;
	width:456px;
	overflow:hidden;
}
.popup_app_show li{
	height:276px;
	width:456px;
	float:left;
	font-size:0;
}
.popup_app_show ul{
	width:1368px;
}
.popup_app_show img{
	height:276px;
	width:456px;
}
.popup_app_txt{
	margin-left:480px;
	font-size:14px;
	line-height:24px;
}
.popup_app_txt h4{
	font-weight:normal;
}
.popup_tt{
	height:150px;
	overflow:hidden;
	overflow-y:auto;
	margin-top:5px;
}
.popup_down{
	margin-top:35px;
}
.popup_down a{
	float:left;
	margin-right:5px;
	zoom:1;
	height:58px;
	width:129px;
	overflow:hidden;
	text-indent:-999em;
}
.android_btn{
	background-position:-471px 0;
}
.android_btn_off{
	background-position:-471px -116px;
}
.iphone_btn{
	background-position:-471px -58px;
}
.iphone_btn_off{
	background-position:-471px -174px;
}
.popup_close,.close_login_box,.popup1_close{
	display:block;
	position:absolute;
	z-index:102;
	top:20px;
	right:20px;
	width:32px;
	height:32px;
	overflow:hidden;
	text-indent:-999em;
	cursor:pointer;
	background:url(../images/close.png) no-repeat;
}
.popup_close:hover,.close_login_box:hover,.popup1_close:hover{
	border-radius:16px;
	box-shadow:0px 0px 3px #000;
}
.popup_app_n{
	position:absolute;
	z-index:1002;
	top:-20px;
	left:200px;
}
.popup_app_n span{
	display:inline-block;
	height:11px;
	width:11px;
	cursor:pointer;
	margin:0 2px;
	background-position:-280px -30px;	
}
.popup_app_n span.n_this{
	background-position:-261px -30px;	
}
.popup_par,.popup_next{
	width:49px;
	height:92px;
	top:50%;
	opacity: 0.8;
	cursor:pointer;
	margin-top:-46px;
	position:absolute;
	
}
.popup_par{
	left:-49px;
	background-position:-120px -50px;
}
.popup_next{	
	right:-48px;
	background-position:-180px -50px;
}
.popup_list{
	float:left;
	width:820px;
	height:540px;
	border:solid 3px #545454;
}


/*--app-home.html---------------------------------------------------------------------*/
.app_s_details,.recomend_details,.reward_details{
	display:none;
}
home_recomend .recomend_box li{
	float:left;	
	height:399px;
	width: 937px;
	border:0;
}
.app_home_pages{
	left: auto;
    right: 20px;
    top: -35px;
	z-index:1;
}
.home_recomend .pre_page,.home_recomend .next_page,.home_news_box_m .pre_page,.home_news_box_m .next_page{
	height:84px;
	width:33px;
	margin-top:-42px;
	background-position:-80px -150px;
}
.home_news_box_m .next_page,.home_recomend .next_page{
	background-position:-120px -150px;
}
.home_recomend .pre_page.n_this,.home_recomend .next_page.n_this,.home_news_box_m .pre_page.n_this,.home_news_box_m .next_page.n_this{
	background-position:0px -150px;
}
.home_news_box_m .next_page.n_this,.home_recomend .next_page.n_this{
	background-position:-39px -150px;
}
.home_data .wen_wrapper{
	width:937px;
	overflow:hidden;
}
.home_data ul{
	width:2820px;
}
.app_box{
	overflow:hidden;
}
.app_data_list{
	float:left;
	width:937px;
}
/*--开发者--*/
.developer_box_m{
	border-top:solid 1px #eaeaea;
	border-left:solid 1px #eaeaea;
}
.devloper{
	display:inline;
	font-size:0;
	letter-spacing:-8px;
}
.devloper_s{
	font-size:14px;
	width:155px;
	height:180px;
	display: inline-block;
	*display:inline;
	zoom:1;
	overflow:hidden;
	vertical-align: top;
	position: relative;
	letter-spacing:normal;
	border-right:solid 1px #eaeaea;
	border-bottom:solid 1px #eaeaea;
}
.devloper_pt{
	height:180px;
	background: url("../images/loading.gif") no-repeat center center #fff;
}
.devloper_pic img{
	height:120px;
	width:120px;
	display:block;
	margin:0px 0 15px 17px;
	padding-top:15px;
}
.devloper_txt{
	position:relative;
	padding:0 15px;
}
.devloper_name{
	display:block;
	width:80px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.devloper_txt .star{
	position:absolute;
	right: 10px;
    top: 3px;
}
.devloper_txt .star1{
	right: auto;
    top: 0;
}
/*--新闻资讯--*/
.home_news_box_m{
	position:relative;
	width:937px;
	background-color:#f8f8f8;
}
.home_news_box{
	overflow:hidden;
	width:937px;
	min-height:100px;
}
.home_news_box ul li{
	float:left;
	display:inline;
}
.home_news_box .wen_move li{
	width:937px;
}
.home_news_box .wen_move li ul li{
	margin: 5px 0 5px 70px;
	display:inline;
    width: 370px;
}
.home_news_list{
	padding:15px 0;
}
/*--top排名--*/
.app_rank_m li{
	height:auto;
	line-height:normal;
	padding-left:20px;
	cursor:auto;
}
.app_rank_m li a:hover{
	text-decoration:none;
}
.app_rank_m li .app_rank_name{
	display:block;
	height:42px;
	line-height:42px;
}
.app_rank_m li.app_rank_on .app_rank_name{
	font-weight:bold;
}
.app_rank_m li .app_rank_name span{
	margin-right:15px;
	font-family: arial;
	font-weight:bold;
}
.app_rank_pt{
	padding-bottom:15px;
	height:60px;
}
.app_rank_pic{
	float:left;
	height:60px;
	width:60px;
}
.app_rank_txt{
	padding:2px 0 0 80px;
	
}
.app_rank_txt .rank_down{
	display:block;
	height:30px;
	line-height:30px;
	width:70px;
	text-align:center;
	background-color:#4CBF1A;
	color:#fff;
	margin-top:8px;
}
/*--悬赏公告--*/
.app_reward_m li{
	background-position: 5px -213px;
    padding-left: 30px;
}
.app_reward_more{
	position: absolute;
    right: 10px;
    top: 0;
    z-index: 100;
}

/*--app-need.html-----------------------------------------------------------------------*/
.app_need_details:hover,.app_bid:hover,.app_gz:hover,.app_intro:hover,.app_down:hover{
	text-decoration:none;
	box-shadow: 0 0 1px #000;
}
.app_need_details:active,.app_bid:active,.app_gz:active,.app_intro:active,.app_down:active{
	box-shadow:inset 0 0 2px #000;
}
.app_need_details,.app_bid,.app_gz,.app_intro,.user6_btns,.user7_btns{
	color:#fff;
	padding:5px 15px;
	display:inline-block;
}
.app_need_details{
	background-color:#ffa71d;
}
.no_hover:hover{
	box-shadow:none;
}
.no_hover::active{
	box-shadow:none;
}
.app_bid{
	background-color:#ff6f21;
}
.app_gz{
	background-color:#95ba01;
}
.app_list_m td,.app_list_m th{
	height:42px;
	vertical-align:middle;
	text-align:center;
	font-size:14px;
}
.app_list_m th,.app_list_m .app_box_t{
	background-color:#f6f6f6;
}
.app_list_m th{
	color:#012d7b;
	font-size:12px;
}
.app_list_m td{
	border-bottom:solid 1px #eaeaea;
}
.app_need_box_m .app_need_name{
	text-align:left;
	width:24%;
}
.tr_bg{
	background-color:#fafafa;	
}
/*--app-devloper.html-----------------------------------------------------------------------*/
.app_list_m .star_m{
	text-align:left;
}
.app_intro{
	background-color:#95ba01;	
}
.devloper_star{
	margin-bottom:10px;
}
.popup_devloper_info .popup_app_data{
	padding-top:5px;
}
.popup_devloper_info .app_box_t,.popup_devloper_info .app_list_m th{
    background-color: #F1F1F1;
}
.popup_devloper_info .app_devloper_box_m .t1{
	height:250px;
	overflow:hidden;
	overflow-y:auto;
}
.popup_devloper_info .position{
	position:absolute;
	display:none;
	background-color:#f1f1f1;
	padding-right:17px;
	top:0;
	z-index:1002;
}
.popup_list_m{
	overflow:hidden;
}
/*--app-reg.html---------------------------------------------------------------------------*/
.reg_btns input,.user_btns input{
	background-color: #4DBF1A;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 30px;
}
.reg_box_m,.user_m{
	border:0;
	min-height:600px;
	_height:600px;
	background-color:#f8f8f8;
}
.reg_box_t{
	margin-top:0;
}
.reg_box_m ul,.user_m ul{
	padding-top:50px;
}
.reg_box_m li label{
	display:inline-block;
	width:240px;
	text-align:right;
	position:relative;
	*float:left;
	*margin-top:8px;
}
.reg_box_m li input{
	height:28px;
	width:390px;
	padding:0 3px;
	height:20px\9;
	padding:4px 3px 2px\9;
	margin-bottom:20px;
	background-color:#fff;
	border:solid 1px #c4c4c4;
}
.reg_msg{
	margin: 0 5px 0 245px;
    position: relative;
    top: -15px;
}
.tel_code{
	color:#fff;
	display:inline-block;
	background-color:#bdbdbd;
	padding:7px 15px;
	vertical-align:top;
	cursor:pointer;
	*margin-top:2px;
}
.agree{
	margin-left:245px;
}
.reg_btns,.user_btns{
	margin:50px 0 0 240px;	
}
.reg_step1,.reg_step2,.reg_step3{
	height:80px;
	background-color:#eaeaea;
	color:#606060;
	display:table;
	width:100%;
	font-size:14px;
	text-align:center;
}
.reg_this{
	color:#fff;
	background-color:#4DBF1A;
}
.step_txt{
	display:table-cell;
	vertical-align: middle;
	*padding-top:20px;
}
.reg_step3 .step_txt{
	*padding-top:30px;
}
.step_txt p{
	margin-top:8px;
}
.step_next{
	height:58px;
	width:58px;
	margin: 3px 0 3px 90px;
	background-position:-180px -149px;
}
.reg_right{
	font-size:14px;
	padding:140px 0 0 255px;
}
.reg_right img{
	float:left;
}
.reg_right_txt{
	margin-left:80px;
}
.reg_right_txt h3{
	margin:5px 0 15px;
}
.reg_right_txt p{
	line-height:1.5em;
}
.reg_right_btns{
	margin-top:50px;
}
.reg_right_btns a{
	padding:8px 20px;
	background-color:#4DBF1A;
	color:#fff;
	margin-right:10px;
}
.reg_right_btns a:hover{
	text-decoration:none;
}

/*--app-user.html-----------------------------------------------------------------------*/
.app_user_box .app_box_t{
	margin-top:0;
}
.user_search .user_input_t{
	width:400px;
	height:30px;
	display:inline-block;
	*display:inline;
	*margin-right:5px;
	zoom:1;
	border:solid 1px #bebebe;
}
.user_search input{
	width:390px;
	border:none;
	font-size:14px;
	margin:6px;
}
.user_search button{
	height:30px;
	width:37px;
	overflow:hidden;
	text-indent:-999em;
	border:none;
	cursor:pointer;
	background-color:none;
	background:url(../images/ccb_mobile_ico.png) no-repeat -430px 0;
}
.user_search{
	margin-bottom:10px;
}
.user_one .app_s_pic{
	width:160px;
	height:160px;
	margin-left:45px;	
}
.user_one_m h2{
	text-align:center;	
}
.user_one_m ul{
	padding-bottom:30px;
}
.user_one_m li{
	margin:10px 10px 0;
}
.user_one_m strong.red{
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
/*--我的形象--*/
.user_m {
	min-height:760px;
	_height:760px;
}
.user1_data,.user3_data{
	font-size:14px;
}
.user1_data li{
	margin-bottom:20px;
}
.user1_data li label,.user2_data li label,.user3_data li label{
	width:240px;
	display:inline-block;
	float:left;
	text-align:right;
}
#user1_name{
	width:390px;
	background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    height: 28px;
    padding: 0 3px;
	height:20px\9;
	padding:4px 3px 2px\9;
}
.change_user1_name{
	background-color:#4CBF1A;
	padding:0px 15px;
	height:30px;
	height:28px\9;
	line-height:30px;
	color:#fff;
	border:none;
	display: inline-block;
	vertical-align:top;
}
.change_ico{
	display:inline-block;
	*display:inline;
	zoom:1;
	position: relative;
    top: -16px;
    top: 0px\0;
    *top: -5px;
	margin-right:5px;
}
.change_user1_ico{
	background-color: #BDBDBD;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 7px 15px;
	*padding:7px 10px;
	border:none;
	position:relative;
	z-index:100;
}
.change_ico input{
	/*height: 30px;
    position: absolute;
    width: auto;
    z-index: 101;
	opacity:0;
	filter: alpha(opacity=0);*/
}
.user1_ico,.user3_ico,.user3_ico1,.user3_ico2{
	font-size:0;
	margin-right:5px;
}
.user1_ico img,.user3_ico img{
	width:160px;
	height:160px;
	border:solid 1px #ccc;
}
.user3_ico1 img{
	width:112px;
	height:54px;
	border:solid 1px #ccc;
}
.user3_ico2 img{
	width:96px;
	height:96px;
	border:solid 1px #ccc;
}
.app_bar{
	display:inline-block;
	width:250px;
	height:8px;
	padding:1px;
	border:solid 1px #c4c4c4;
	background-color:#fff;
}
.app_bar span{
	display:block;
	height:8px;
	background-color:#ffa81d;
	width:80%;
}
.approve_wait{
	color:#606060;
}
.user1_name label{
	margin-top:5px;
}
/*--我的信息--*/
.user2_data .user2_name h1{
	font-size: 18px;
    padding: 50px 0 20px 240px;
}
.user2_data ul{
	padding:0;
}
.user2_line{
	border-bottom: 1px dashed #CCCCCC;
    font-size: 0;
    height: 0;
    margin: 30px 100px;
}
.user2_data .user_btns{
	margin-top:20px;
}

/*--开发者资料--*/
.user3_data li,.user2_data li{
	margin-bottom:20px;
}
.user3_data li .user_sort,.user3_data li .company_sort{
	width:auto;
	float:none;
	margin: 0 20px;
}
.user2_data li label,.user3_data li label{
	margin-top:5px;
}
.user2_data li input,.user3_data li input{
	height:28px;
	border:solid 1px #C4C4C4;
	width:390px;
	padding:0 3px;
	height:20px\9;
	padding:4px 3px 2px\9;
}
.user3_data li.sort_devloper input{
	width:auto;
	height:auto;
	border:0;
	background-color: transparent;
}
.user3_data li.sort_devloper label{
	margin-top:0;
}
.user3_data li textarea{
	width:400px;
	height:100px;
	border:solid 1px #c4c4c4;
	resize:vertical;
}
.user3_data .user3_portrait input,.user3_data .user3_logo input,.user3_data .user3_appico input{
	height:30px;
	width:auto;
	*width:60px;
}
.upload_ico_msg,.upload_ico1_msg,.upload_ico2_msg{
	display: inline-block;
    line-height: 1.5em;
    width: 300px;
}
.upload_ico1_msg{
	width:350px;
}
.upload_ico2_msg{
	width:370px;
}
.user3_data .user_btns{
	margin-top:20px;
	padding-bottom:50px;
}
.user3_resume input{
	
}
/*--认证开发者--*/
.user4_data ul{
	padding-top:50px;
}
/*--我的任务--*/
.user6_btns,.user7_btns{
	background-color:#FF6F21;
}
.green{
	color:green;
}
/*--详情框--*/
.details_box,.bid_box,.app_upload_box{
	left:50%;
	margin-left:-250px;
}
.details_box li,.bid_box li,.app_upload_box li{
	margin-bottom:20px;
}
.details_box li label,.bid_box li label,.app_upload_box label{
	float:left;
	width:100px;
}
.details_txt textarea,.bid_box textarea,.app_upload_box textarea{
	border: 1px solid #CCCCCC;
    height: 80px;
    resize: none;
    width: 300px;
}
.details_document,.bid_document,.app_upload_document{
	padding-left:100px;
	line-height:1.5em;
	*display:inline;
	zoom:1;
	*padding-left:0;
}
.details_line{
	height:0;
	font-size:0;
	margin: 0 20px 40px;
	border-bottom:dashed 1px #ccc;
}
/*--投标框--*/
.add_new{
	display:inline-block;
	margin-left:5px;
	cursor:pointer;
}
.bid_box .fake_file{
	margin-bottom:10px;
}
.bid_box .fake_file input{
	width:220px;	
}
.bid_box .details_line,.app_upload_box .details_line{
	margin-bottom:10px;
}
.bid_btns span{
	color:#fff;
	background-color:#4CBF1A;
	display:inline-block;
	padding:8px 30px;	
	font-size:14px;
	cursor:pointer;
	margin:0 0 20px 100px;
}
.bid_upload_msg{
	top:40%;
	position:absolute;
	z-index:104;
	width:500px;
	display:none;
}
.bid_upload_msg p,.bid_upload_msg .close_bid_box{
	margin-left:150px;
	color:#fff;
	font-size:22px;
}
.bid_upload_msg p img{
	vertical-align:middle;
	margin-left:10px;
	width:80px;
}
.bid_upload_msg .close_bid_box{
	font-size:14px;
	background-color:#4CBF1A;
	width:100px;
	text-align:center;
	height:32px;
	line-height:32px;
	margin-top:20px;
	cursor:pointer;
	display:none;
}
/*--仿文件框--*/
.popup1_box input.fake_file_old,.user3_resume .fake_file_old,.fake_file_old{
	filter: alpha(opacity=0);
	opacity:0;
	height:30px !important;
	width:75px\9 !important; 
	padding:0 !important;
	margin:0 !important;
	position:absolute;
	z-index:101;
	left:-130px;
	left:-10px\9 !important;
	top:0;
	cursor:pointer;
}
.user3_resume .fake_file_old{
	left:-155px;	
}
.change_ico input{
	left:-160px;	
}
.fake_file_btn{
	display:inline-block;
	width:80px;
	overflow:hidden;	
	vertical-align: top;
	position:relative;
}
.fake_file{
	display:inline-block;
	*display:inline;
	zoom:1;
}
.fake_file a,.fake_file span.change{
	display:inline-block;
	background-color: #BDBDBD;
    color: #FFFFFF;
    padding: 6px 15px;
    vertical-align: top;
	cursor:pointer;
}
.fake_file a:hover{
	text-decoration:none;
}
/*--上传应用--*/
.user7_btns:hover{
	text-decoration:none;
}

/*--app-help.html----------------------------------------------------------------------*/
.app_help_box_t{
	margin-top:0;
}
.help_more{
	background-color: #FFFFFF;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 8px 10px 0 0;
    text-align: center;
    width: 60px;
}
.app_help_box_m ul{
	margin-bottom:10px;
	font-size:14px;
}
.app_help_box_m li{
	padding:15px 10px 15px 30px;
	border-bottom:solid 1px #EAEAEA;
	background-position:5px -210px;
}
.app_help_fqa{
	background-color:#f8f8f8;
}
.app_help_fqa li{
	padding:5px 15px;
	background:none;
}
.app_help_fqa li p{
	margin:10px 0;
}
.planning_one_t h1{
	float:left;
}
.planning_more{
	color:#fff;
	margin:10px 10px 0 0;
}
.planning_one_m{
	padding:15px 15px 25px;
}
.planning_one_m li{
	margin-bottom:20px;
}
.planning_one_m li p{
	margin-bottom:5px;
}
.planning_call{
	padding-top:10px;
}
.planning_call h3{
	margin-bottom:8px;
}
.planning_call p{
	margin-bottom:8px;
}
.planning_call em{
	color:#4CBF1A;
	font-size:12px;
}
.help_feedback,.help_guide{
	margin-top:10px;
}
.help_feedback a,.help_guide a{
	display:block;
	height:77px;
	width:250px;
	overflow:hidden;
	text-indent:-999em;
}
.help_feedback a{
	background-position:-350px -240px;
}
.help_guide a{
	background-position:-350px -318px;
}
.app_service_m{
	border-left:solid 1px #EAEAEA;	
	border-right:solid 1px #EAEAEA;	
}
.service1,.service2,.service3{
	padding: 10px;
	border-bottom:solid 1px #eaeaea;
}
.app_service_m p{
	margin-bottom:5px;
	line-height:20px;
}
.feedback_box .feedback_sort .leave_msg,.feedback_box .feedback_sort .leave_suggest{
	width:auto;
	margin-right:20px;
}
.feedback_box .feedback_sort input{
	width:auto;
	height:auto;
	margin-bottom:auto;
	vertical-align:middle;
	margin-right:5px;
	border:none;
	background-color: transparent;
}
.feedback_box input{
	margin-bottom:auto;
}
.feedback_box li{
	margin-bottom:20px;
}
.feedback_txt textarea{
	width:300px;
	height:55px;
	resize:none;
	border:solid 1px #c4c4c4;
}
.feedback_box .feedback_email{
	margin-bottom:auto;
}
/*--app-search.html--------------------------------------------------------------------*/
.app_search_box h1{
	width:60px;
}
.app_search_box .app_search_t1{
	margin-top:0;
}
.app_search_box_m ul{
	font-size:0;
	zoom:1;
}
.app_search_box_m ul li.search_m_list{
	border-bottom:solid 1px #eaeaea;
	border-right:solid 1px #eaeaea;
	position:relative;
}
.app_search_pic{
	font-size:0;
	padding:10px;
	border-right:solid 1px #eaeaea;
}
.app_search_pic img{
	width:215px;
	height:136px;
}
.search_details_t{
	padding:5px 0 15px 0;
}
.search_details_t h3{
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:14px;
	margin-right:10px;
}
.search_details_m li{
	float:left;
	font-size:14px;
	width:250px;
	display:inline;
	line-height:24px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search_details_m li label{
	font-size:12px;
}
.app_search_details{
	width:500px;
	padding:10px;
}
.app_search_down{
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-10px;
}
.app_search_down a,.app_down{
	padding:5px 15px;
	color:#fff;
	font-size:14px;
	display:inline-block;
	background-color:#FF6F21;
}
.app_search_down a:hover,.app_down:hover{
	text-decoration:none;
}
.search_help_m li{
	border-bottom: 1px solid #EAEAEA;
    height:42px;
	line-height:42px;
	position:relative;
	font-size:14px;
}
.search_help_m .app_down{
	position:absolute;
	right:20px;
	top:8px;
	line-height:normal;
}

/*--login-box--*/
.login_btn,.reg_btn{
    padding: 2px 6px 10px;
}
.login_btn:hover{
	text-decoration:none;
}
.login_show,.reg_show{
	background-position: 0 -290px;
    color: #FFFFFF;
}
.login_box,.login_box_bg,.popup1_box_bg,.popup1_box{
	display:none;
}
.popup1_box{
	width:500px;
	border:solid 2px #545454;
	background-color:#f7f7f7;
	z-index:101;
}
.login_box{
	top:100px;
	left:50%;
	z-index:110;
	margin-left:-250px;
	
}
.close_login_box,.popup1_close{
	top:25px;
	right:25px;
}
.login_box h1,.popup1_box h1{
	margin:20px;
	padding-left:10px;
	font-size: 14px;
	background-color:#f1f1f1;
	height:42px;
	line-height:42px;
}
.login_box li label,.popup1_box label{
	width:130px;
	text-align:right;
	display:inline-block;
}
.login_box li label{
	float:left;
	margin-top:6px;

}
.popup1_box li input{
	height:28px;
	line-height:28px\9;
	width:290px;
	padding:0 3px;
	background-color:#fff;
	border:solid 1px #c4c4c4;
}
.login_box li input{
	margin-bottom:20px;
}
.login_box li.login_code input,.feedback_box li.feedback_code input{
	width:110px;
}
.login_box li.login_code img,.feedback_box li.feedback_code img{
	vertical-align:top;
}
.login_box li.login_code a,.feedback_box li.feedback_code a{
	color:#4dbf1a;
}
.remember{
	padding-left:135px;
}
.checked_ico{
	display:inline-block;
	position:relative;
	height:27px;
	width:33px;
	position:relative;
	cursor:pointer;
	top:6px;
	background-position:0 -251px;
}
.checked_ico img{
	/*display:none;*/
	height:0;
	width:0;
	position:absolute;
}
.login_btns,.feedback_btns{
	padding: 0px 0 50px 135px;
}
.login_btns input,.feedback_btns input{
	border: medium none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
	cursor:pointer;
	background-color:#4dbf1a;
}
.login_btns a{
	margin-left:20px; 	
}
.login_err_msg{
	height: 40px;
    line-height: 40px;
    margin: 0 5px 0 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.login_err_msg .err_msg{
	display:none;
}

/*--footer--*/
.foot_nav,.app_copyright_bg{
	/*width:1210px;
	margin-left:auto;
	margin-right:auto;*/
}
.app_copyright_address{
	padding-left:10px;
}
.foot_nav{
	margin-top:10px;
	height:54px;
	background-color:#eaeaea;
	text-align:center;
}
.foot_nav a{
	color: #606060;
    display: inline-block;
    margin-top: 14px;
    padding: 7px 20px;
	font-weight:bold;
}
.foot_nav a:hover{
    padding: 7px 20px;
	color:#fff;
	background-color:#4dbf1a;
	text-decoration:none;
}
.app_copyright_bg{
	height:54px;
	background-color:#606060;
}
.app_copyright{
	width:1210px;
	margin:0 auto;
	line-height:54px;
	font-size:14px;
	color:#fff;
}
.app_copyright a{
	color:#fff;
	display:inline-block;
	margin:0 8px;
}

/*--开发者查询栏--*/
.devloper_popup .user_search{
	margin-left: 50px;
	width: 240px;
}
.devloper_popup .user_input_t{
	width: 200px;
	background-color: #fff;
	height: 24px;
	vertical-align: middle;
}
.devloper_popup .app_box_t input{
	width: 190px;
	margin-top:4px;
	display:block;
}
.devloper_popup .app_box_t button{
	display:inline-block;
	vertical-align: middle;
	height:24px;
	width:30px;
	background:url(../images/dev_search.png) no-repeat 0 0;
}

/*--b星星--*/
.star_b{
	display:inline-block;
	height:26px;
	width:150px;
	overflow:hidden;
	vertical-align: top;
	background:url(../images/grade_star1.png) repeat-x;
}
.star_b1{
	background:url(../images/grade_star.png) repeat-x -1px -1px;
}
.grade{
	margin:0 40px 40px;
}
.grade h4{
	margin-bottom:20px;
}
.grade input,.grade .star_b{
	vertical-align:middle;
}
.grade input{
	margin-right:10px;
	background-color:transparent;
}
.grade_btn{
	margin-top:40px;
}
.grade_btn span{
	height:30px;
	line-height:30px;
	width:80px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size: 14px;
    font-weight: bold;
	background-color: #4CBF1A;
}
.star_2,.star_3,.star_4,.star_5{
	margin-bottom:5px;
}



/*--3d样式（如果支持）--*/
.csstransforms3d .app_s_3d{
	position:relative;
	width:233px;
	height:198px;
	
	-webkit-transform-style: preserve-3d; 
	-webkit-transition: -webkit-transform 800ms; 
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg); 
	
	-moz-transform-style: preserve-3d; 
	-moz-transition: -moz-transform 800ms; 
	-moz-backface-visibility: hidden; 
	-moz-transform: translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg); 
	
	-o-transform-style: preserve-3d; 
	-o-transition: -o-transform 800ms; 
	-o-backface-visibility: hidden; 
	-o-transform: translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg); 
	
	-ms-transform-style: preserve-3d; 
	-ms-transition: -ms-transform 800ms; 
	-ms-backface-visibility: hidden; 
	-ms-transform: translate3d(0px, 0px,0px) rotate3d(0, 1, 0, 0deg); 
}
.csstransforms3d .app_s_pt{
	position: absolute;
	z-index:101;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility: hidden; 
	-o-backface-visibility: hidden; 
	-ms-backface-visibility: hidden; 
}
.csstransforms3d .app_s2{
	position:absolute;
	z-index:100;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility: hidden; 
	-o-backface-visibility: hidden; 
	-ms-backface-visibility: hidden; 
	-webkit-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 180deg);
	-moz-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 180deg);
	-o-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 180deg);
	-ms-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 180deg);
}
.no-preserve3d .app_s_pt{
	-webkit-transition: -webkit-transform 600ms;
	-moz-transition: -moz-transform 600ms;
	-o-transition: -o-transform 600ms;
	-ms-transition: -ms-transform 600ms; 
	-webkit-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 0deg);
	-moz-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 0deg);
	-o-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 0deg);
	-ms-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 0deg);
}
.no-preserve3d .app_s2{
	display:block;
	-webkit-transition: -webkit-transform 600ms;
	-moz-transition: -moz-transform 600ms;
	-o-transition: -o-transform 600ms;
	-ms-transition: -ms-transform 600ms; 
	-webkit-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 90deg);
	-moz-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 90deg);
	-o-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 90deg);
	-ms-transform: translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 90deg);
}
.csstransforms3d .recomend_s .app_s_pt {
	z-index:100;
}
